# Description: Add kconfig options that has to be included in the kernel
# Note: Markers should start with "###->"
#       Header should end with .*-start eg: any_description-start
#       Footer must end with .*-end eg: any_description-end
#       Markers should not be nested

[common]
CONFIG_LOG_BUF_SHIFT=20

[amd64]
# For Arista
CONFIG_I2C_MUX_PCA9541=m
CONFIG_SENSORS_MAX6697=m
CONFIG_SENSORS_DPS1900=m
CONFIG_PCI_REASSIGN_PREF_MEM=y
# For cig-cs6436
CONFIG_SERIAL_8250_LPSS=m
# SFF_8436
CONFIG_EEPROM_SFF_8436=m
# For Dell S6000
CONFIG_SENSORS_MAX6620=m
CONFIG_PMBUS=m
CONFIG_SENSORS_PMBUS=m
CONFIG_SENSORS_DNI_DPS460=m
CONFIG_I2C_MUX_GPIO=m
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_SCH=m
# For Dell Z9100
CONFIG_I2C_MUX_PCA954x=m
# For Ingrasys S9100
CONFIG_I2C_GPIO=m
CONFIG_GPIO_PCA953X=m
# For Inventec d7032
CONFIG_GPIO_ICH=m
# For mitac ly1200
CONFIG_SENSORS_MAX31790=m
# For optoe
CONFIG_EEPROM_OPTOE=m

###-> mellanox-start
CONFIG_OF=y
CONFIG_THERMAL_OF=y
CONFIG_CPU_THERMAL=y
CONFIG_PINCTRL_CANNONLAKE=m
CONFIG_PINCTRL_DENVERTON=m
CONFIG_DW_DMAC_PCI=y
CONFIG_MLXSW_CORE=m
CONFIG_MLXSW_CORE_HWMON=y
CONFIG_MLXSW_CORE_THERMAL=y
# CONFIG_MLXSW_CORE_QSFP=y # TODO: enable once 0001-Mellanox-platform-Backport-patches-for-new-Mellanox-.patch is enabled
CONFIG_MLXSW_I2C=m
CONFIG_MLXSW_MINIMAL=m
CONFIG_MFD_INTEL_LPSS=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_I2C_MUX_REG=m
CONFIG_I2C_MUX_PCA954x=m
CONFIG_I2C_MUX_MLXCPLD=m
CONFIG_I2C_MLXCPLD=m
CONFIG_I2C_DESIGNWARE_PLATFORM=m
CONFIG_IOSF_MBI=y
CONFIG_I2C_DESIGNWARE_BAYTRAIL=y
CONFIG_I2C_DESIGNWARE_CORE=m
CONFIG_I2C_DESIGNWARE_PCI=m
CONFIG_IIO_SYSFS_TRIGGER=m
CONFIG_SENSORS_IIO_HWMON=m
CONFIG_SENSORS_MLXREG_FAN=m
CONFIG_SENSORS_LM25066=m
CONFIG_SENSORS_TPS53679=m
CONFIG_SENSORS_UCD9000=m
CONFIG_SENSORS_UCD9200=m
CONFIG_SENSORS_XDPE122=m
CONFIG_SENSORS_MP2888=m
CONFIG_SENSORS_MP2975=m
CONFIG_SENSORS_TMP421=m
CONFIG_SENSORS_STTS751=m
CONFIG_SENSORS_POWR1220=m
CONFIG_SENSORS_XDPE152=m
CONFIG_SENSORS_DRIVETEMP=m
CONFIG_TI_ADS1015=m
CONFIG_GPIO_PCA953X=m
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_MLX_WDT=y
CONFIG_LEDS_MLXREG=m
CONFIG_MLX_PLATFORM=m
CONFIG_MELLANOX_PLATFORM=y
CONFIG_MLXREG_HOTPLUG=m
CONFIG_MLXREG_IO=m
CONFIG_MAX1363=m
CONFIG_THERMAL_NETLINK=y
CONFIG_THERMAL_STATISTICS=n

CONFIG_NVSW_SN2201=m
CONFIG_TI_ADS1015=m
CONFIG_SENSORS_EMC2305=m
CONFIG_SENSORS_JC42=m
CONFIG_SENSORS_POWR1220=m
###-> mellanox-end

# For Cisco 8000
CONFIG_PHYLIB=m
CONFIG_GPIOLIB=y
CONFIG_OF_GPIO=y
CONFIG_OF=y
CONFIG_OF_MDIO=m
CONFIG_MDIO_BUS_MUX_GPIO=m
CONFIG_MDIO_BUS_MUX=m
CONFIG_REGMAP_MMIO=y
CONFIG_ARCH_NR_GPIO=10240
CONFIG_TI_TLC4541=m
CONFIG_SENSORS_LTC2978=m
CONFIG_SENSORS_LTC2945=m
CONFIG_SENSORS_TPS40422=m
CONFIG_SPI_INTEL_SPI_PLATFORM=m
CONFIG_SPI_INTEL_SPI=m

[arm64]
# For Marvell
CONFIG_EEPROM_SFF_8436=m
CONFIG_EEPROM_OPTOE=m
CONFIG_I2C_MUX_GPIO=m
CONFIG_MTD_RAW_NAND=m
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_MTD_NAND_MARVELL=m
CONFIG_SENSORS_EMC2305=m

[marvell-arm64]
CONFIG_MARVELL_AC5_WATCHDOG=m

[pensando]
CONFIG_ARCH_PENSANDO=y
CONFIG_ARCH_PENSANDO_ELBA_SOC=y
CONFIG_PENSANDO_SOC_CAPMEM_HUGEPAGE=y
CONFIG_PENSANDO_SOC_PENFW=y
CONFIG_EDAC_ELBA=y
CONFIG_IRQ_PENSANDO=y
CONFIG_MFD_PENSANDO_ELBASR=y
CONFIG_RESET_ELBASR=y
CONFIG_UIO=y
CONFIG_UIO_PCIEMAC=y
CONFIG_UIO_PENMSI1=y
CONFIG_UIO_PENGIC=y
CONFIG_UIO_PENMSI=y
CONFIG_ARM64_VA_BITS_39=y
CONFIG_BLK_DEV_DM=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BONDING=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_CONFIGFS_FS=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_CRC16=y
CONFIG_CRC7=y
CONFIG_CRC_ITU_T=y
CONFIG_CRYPTO_AEAD=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_AES_ARM64=y
CONFIG_CRYPTO_AES_ARM64_BS=y
CONFIG_CRYPTO_AES_ARM64_CE=y
CONFIG_CRYPTO_AES_ARM64_CE_BLK=y
CONFIG_CRYPTO_AES_ARM64_CE_CCM=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_CRYPTO_ANSI_CPRNG=y
CONFIG_CRYPTO_ARCH_HAVE_LIB_CHACHA=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_CRYPTO_CBC=y
CONFIG_CRYPTO_CHACHA20_NEON=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_CTR=y
CONFIG_CRYPTO_DRBG=y
CONFIG_CRYPTO_DRBG_MENU=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_GF128MUL=y
CONFIG_CRYPTO_GHASH=y
CONFIG_CRYPTO_GHASH_ARM64_CE=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_CRYPTO_LIB_CHACHA_GENERIC=y
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=y
CONFIG_CRYPTO_NULL=y
CONFIG_CRYPTO_RNG=y
CONFIG_CRYPTO_RNG_DEFAULT=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_CRYPTO_SHA1_ARM64_CE=y
CONFIG_CRYPTO_SHA256_ARM64=y
CONFIG_CRYPTO_SHA2_ARM64_CE=y
CONFIG_CRYPTO_SHA512_ARM64=y
CONFIG_CRYPTO_SIMD=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DM_BUFIO=y
CONFIG_DM_VERITY=y
CONFIG_DW_WATCHDOG=y
CONFIG_EEPROM_AT24=y
CONFIG_EEPROM_AT25=y
CONFIG_EMBEDDED=y
CONFIG_EXT3_FS=y
CONFIG_EXT4_FS=y
CONFIG_FAT_FS=y
CONFIG_FS_MBCACHE=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_GPIO_DWAPB=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_RD1173=y
CONFIG_INET_AH=y
CONFIG_INET_DIAG=y
CONFIG_INET_ESP=y
CONFIG_INET_IPCOMP=y
CONFIG_INET_TCP_DIAG=y
CONFIG_INET_TUNNEL=y
CONFIG_INET_XFRM_TUNNEL=y
CONFIG_IPV6_SIT=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_MANGLE=y
CONFIG_IP_NF_MATCH_AH=y
CONFIG_IP_NF_MATCH_ECN=y
CONFIG_IP_NF_MATCH_TTL=y
CONFIG_IP_NF_TARGET_ECN=y
CONFIG_IP_NF_TARGET_REJECT=y
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_JBD2=y
CONFIG_KALLSYMS_ALL=y
CONFIG_LEGACY_PTYS=y
CONFIG_LIBCRC32C=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_MDIO_DEVICE=y
CONFIG_MEMTEST=y
CONFIG_MMC_DEBUG=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_CADENCE=y
CONFIG_MMC_SDHCI_PLTFM=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_MTD=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_SPI_NOR=y
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER_XT_MATCH_DSCP=y
CONFIG_NETFILTER_XT_MATCH_ECN=y
CONFIG_NETFILTER_XT_MATCH_HL=y
CONFIG_NETFILTER_XT_MATCH_PKTTYPE=y
CONFIG_NETFILTER_XT_MATCH_POLICY=y
CONFIG_NETFILTER_XT_TARGET_DSCP=y
CONFIG_NETFILTER_XT_TARGET_HL=y
CONFIG_NET_IP_TUNNEL=y
CONFIG_NET_KEY=y
CONFIG_NET_PKTGEN=y
CONFIG_NF_REJECT_IPV4=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NO_HZ_FULL=y
CONFIG_OVERLAY_FS=y
CONFIG_PENSANDO_SOC_CAPMEM_HUGEPAGE=y
CONFIG_PENSANDO_SOC_PENFW=y
CONFIG_PMBUS=y
CONFIG_PPS=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_PTP_1588_CLOCK=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_SCHED_TRACER=y
CONFIG_SENSORS_LM90=y
CONFIG_SENSORS_LTC2978=y
CONFIG_SENSORS_PMBUS=y
CONFIG_SENSORS_TPS53679=y
CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_SPI_DW_MMIO=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_DECOMP_MULTI=y
CONFIG_SQUASHFS_FILE_CACHE=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_TUN=y
CONFIG_VFAT_FS=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_VLAN_8021Q=y
CONFIG_XFRM_AH=y
CONFIG_XFRM_ALGO=y
CONFIG_XFRM_ESP=y
CONFIG_XFRM_IPCOMP=y
CONFIG_XFRM_USER=y

[armhf]
CONFIG_EEPROM_SFF_8436=m
CONFIG_EEPROM_OPTOE=m
CONFIG_I2C_MUX_GPIO=m

[marvell-armhf]
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_OF_PARTS=y
