[arm64]
CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y

[marvell-armhf]
CONFIG_ARCH_NR_GPIO=0

[marvell]
CONFIG_MTD=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_BLKDEVS=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_SPI_NOR=y
CONFIG_SPI_ARMADA_3700=y
CONFIG_SPI_ORION=y
CONFIG_SENSORS_LM75=y
CONFIG_PMBUS=y
CONFIG_SENSORS_PMBUS=y
CONFIG_SENSORS_ADM1266=n
CONFIG_SENSORS_ADM1275=n
CONFIG_SENSORS_BEL_PFE=n
CONFIG_SENSORS_IBM_CFFPS=n
CONFIG_SENSORS_INSPUR_IPSPS=n
CONFIG_SENSORS_IR35221=n
CONFIG_SENSORS_IR38064=n
CONFIG_SENSORS_IRPS5401=n
CONFIG_SENSORS_ISL68137=n
CONFIG_SENSORS_LM25066=n
CONFIG_SENSORS_LTC2978=n
CONFIG_SENSORS_LTC3815=n
CONFIG_SENSORS_MAX16064=n
CONFIG_SENSORS_MAX16601=n
CONFIG_SENSORS_MAX20730=n
CONFIG_SENSORS_MAX20751=n
CONFIG_SENSORS_MAX31785=n
CONFIG_SENSORS_MAX34440=n
CONFIG_SENSORS_DNI_DPS460=n
CONFIG_SENSORS_MAX8688=n
CONFIG_SENSORS_MP2888=n
CONFIG_SENSORS_MP2975=n
CONFIG_SENSORS_PXE1610=n
CONFIG_SENSORS_TPS40422=n
CONFIG_SENSORS_TPS53679=n
CONFIG_SENSORS_UCD9000=n
CONFIG_SENSORS_UCD9200=n
CONFIG_SENSORS_XDPE122=n
CONFIG_SENSORS_XDPE152=n
CONFIG_SENSORS_ZL6100=n
CONFIG_SENSORS_DPS1900=n
