[common]

[amd64]
# CONFIG_SYSTEM_TRUSTED_KEYS="$LOCAL_CERT_PEM"
CONFIG_SYSTEM_TRUSTED_KEYS="/sonic/files/nv_onyx_key_certificate.pem"
CONFIG_MODULE_SIG_HASH="sha512"
CONFIG_MODULE_SIG_SHA512=y
CONFIG_KEXEC_SIG_FORCE=y

[arm64]
# CONFIG_SYSTEM_TRUSTED_KEYS="$LOCAL_CERT_PEM"
CONFIG_SYSTEM_TRUSTED_KEYS="/sonic/files/nv_onyx_key_certificate.pem"
CONFIG_MODULE_SIG_HASH="sha512"
CONFIG_MODULE_SIG_SHA512=y
CONFIG_KEXEC_SIG_FORCE=y

[armhf]


[marvell-armhf]
