[arm64]

[marvell-prestera-arm64]
CONFIG_PREEMPT_RCU=y
CONFIG_ARM64_WORKAROUND_MARVELL_38891=y
CONFIG_TASKS_RUDE_RCU=y 
CONFIG_TASKS_TRACE_RCU=y 
CONFIG_TASKS_RCU_GENERIC=y 
CONFIG_MRVL_ERRATUM_35443=y
CONFIG_MRVL_ERRATUM_38500=y
CONFIG_MARVELL_ERRATUM_38627=y
CONFIG_INIT_STACK_NONE=y

[marvell-prestera-armhf]
CONFIG_ARCH_NR_GPIO=0
