# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
  branches:
    include:
      - "*"
variables:
  - name: BUILD_BRANCH
    ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      value: $(System.PullRequest.TargetBranch)
    ${{ else }}:
      value: $(Build.SourceBranchName)

stages:
- stage: Build

  jobs:
  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: amd64
      pool: sonicso1ES-amd64
      old_artifact_name: sonic-linux-kernel
      artifact_name: sonic-linux-kernel.amd64
      old_linux_deb_pattern: linux-image-*-unsigned_*deb
      linux_deb_pattern: linux-image-*-unsigned_*deb

  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: amd64
      pool: sonicso1ES-amd64
      old_artifact_name: sonic-linux-kernel
      artifact_name: sonic-linux-kernel.amd64.secure
      old_linux_deb_pattern: linux-image-*-unsigned_*deb
      linux_deb_pattern: linux-image-*-unsigned_*deb
      secure_boot: true

  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: arm64
      pool: sonicso1ES-arm64
      old_artifact_name: sonic-linux-kernel.arm64
      artifact_name: sonic-linux-kernel.arm64
      old_linux_deb_pattern: linux-image-*-unsigned_*deb
      linux_deb_pattern: linux-image-*-unsigned_*deb

  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: armhf
      pool: sonicso1ES-armhf
      old_artifact_name: sonic-linux-kernel.armhf
      artifact_name: sonic-linux-kernel.armhf
      old_linux_deb_pattern: linux-image-*-armmp_*deb
      linux_deb_pattern: linux-image-*+deb*-*-armmp_*deb

  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: arm64
      platform: pensando
      pool: sonicso1ES-arm64
      old_artifact_name: sonic-linux-kernel.pensando.arm64
      artifact_name: sonic-linux-kernel.pensando.arm64
      old_linux_deb_pattern: linux-image-*-unsigned_*deb
      linux_deb_pattern: linux-image-*-unsigned_*deb

