parameters:
- name: arch
  type: string
  values:
  - amd64
  - armhf
  - arm64

- name: platform
  type: string
  values:
  - vs
  - pensando
  default: vs

- name: pool
  type: string
  values:
  - sonicso1ES-amd64
  - sonicso1ES-arm64
  - sonicso1ES-armhf
  default: sonicso1ES-amd64

- name: timeout
  type: number
  default: 180

- name: old_artifact_name
  type: string

- name: old_linux_deb_pattern
  type: string

- name: artifact_name
  type: string

- name: linux_deb_pattern
  type: string

- name: secure_boot
  type: boolean
  default: false

jobs:
- job:
  pool: ${{ parameters.pool }}
  displayName: ${{ parameters.platform }}-${{ parameters.arch }} (Secure boot ${{ parameters.secure_boot }})
  timeoutInMinutes: ${{ parameters.timeout }}

  container:
    image: sonicdev-microsoft.azurecr.io:443/sonic-slave-trixie:$(BUILD_BRANCH)-${{ parameters.arch }}

  steps:
  - checkout: self
    clean: true
    displayName: 'Checkout code'  
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipelineId: 499053
      artifact: ${{ parameters.old_artifact_name }}
      runVersion: 'specific'
      itemPattern: ${{ parameters.old_linux_deb_pattern }}
      targetPath: $(Agent.TempDirectory)/
    displayName: "Download the linux-image artifact from the last build with a different kernel version"
  - script: |
      openssl req -new -noenc -utf8 -sha256 -days 30 -batch -x509 -subj "/CN=Autogenerated pipeline build key" -outform PEM -out build_trusted_key.pem -keyout /dev/null
    displayName: "Generate additional secure boot certificate"
    condition: ${{ eq(parameters.secure_boot, true) }}
  - script: |
      set -x
      cat /proc/cpuinfo
      if [[ ${{ parameters.secure_boot }} = "True" ]]; then
          export SECURE_UPGRADE_MODE=dev
          export SECURE_UPGRADE_SIGNING_CERT=$(System.DefaultWorkingDirectory)/build_trusted_key.pem
      fi
      CONFIGURED_ARCH=${{ parameters.arch }} CONFIGURED_PLATFORM=${{ parameters.platform }} make
    displayName: "Compile sonic kernel"
  - script: |
      set -e
      dpkg-deb -x $(Agent.TempDirectory)/${{ parameters.old_linux_deb_pattern }} $(Agent.TempDirectory)/old
      dpkg-deb -x $(System.DefaultWorkingDirectory)/${{ parameters.linux_deb_pattern }} $(Agent.TempDirectory)/new
      pip3 install tabulate
      python3 $(System.DefaultWorkingDirectory)/.azure-pipelines/kcfg-diff.py \
              --buildid $(Build.BuildId) \
              --ref_buildid 499053 \
              --arch ${{ parameters.arch }} \
              --old_kcfg $(Agent.TempDirectory)/old/boot/ \
              --new_kcfg $(Agent.TempDirectory)/new/boot/ \
              --output $(System.DefaultWorkingDirectory)/kconfig-diff-${{ parameters.platform }}-${{ parameters.arch }}.rst
      cat $(System.DefaultWorkingDirectory)/kconfig-diff-${{ parameters.platform }}-${{ parameters.arch }}.rst
    displayName: "Compute the kconfig diff"
  - publish: $(System.DefaultWorkingDirectory)/
    artifact: ${{ parameters.artifact_name }}
    displayName: "Archive sonic kernel debian packages"
